<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head"); %>

<body>

    <h2>Formulario de Registro</h2>
        <form method="POST" action = "user/register">
            <label>Nombre Completo:</b></label>
            <input type="text" name= "full_name" class="form_control">
        </form>
    
</body>
</html>